<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>All Exhibitions of User</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
    <h2 th:text="${'All Exhibitions of ' + user.firstName + ' ' + user.lastName}"/>
    <form th:action="@{|/exhibitions/create/users/${user.id}|}" method="get">
        <div align="right">
            <input class="btn-info btn-lg" type="submit" value="Create New Exhibition">
        </div>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>No.</th>
            <th>Id</th>
            <th>Title</th>
            <th>Created At</th>
            <th>Owner</th>
            <th colspan="2">Operations</th>
        </tr>
        <tr th:each="exhibition, iStat: ${exhibitions}">
            <td th:text="${iStat.index + 1}"/>
            <td th:text="${exhibition.id}"/>
            <td>
                <a th:href="@{|/exhibitions/${exhibition.id}/pieces|}" th:text="${exhibition.title}"/>
            </td>
            <td th:text="${#temporals.format(exhibition.createdAt, 'dd.MM.yyyy HH:mm')}"/>
            <td th:text="${exhibition.getOwner().firstName + ' ' + exhibition.getOwner().lastName}"></td>
            <td>
                <a th:href="@{|/exhibitions/${exhibition.id}/update/users/${exhibition.owner.id}|}">Edit</a>
            </td>
            <td>
                <a th:href="@{|/exhibitions/${exhibition.id}/delete/users/${exhibition.owner.id}|}">Remove</a>
            </td>
        </tr>
    </table>
</div>

</body>
</html>